{% load static %}
<div class="social-links">
    <div class='media'>
        <div>
            <a href="https://web.facebook.com/ooooorl" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/orl.zzz/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/plaza_orly/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/ooooorl" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/plaza-orly-71a54024a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <p>copyright &copy;2022 | <span>Engr.0r1</span></p>
</div>