{% extends 'html/main.html' %}
{% load static %}

{% block content %}
    <div class='main-container'>
        <div class="greeting-wrapper">
            {% if cars %}
                <h1>Which Cars would you like to move?</h1>
            {% endif %}
        </div>
        <div class='post-wrapper'>
            {% for car in cars %}
                <div>
                    <div class='post'>
                        <div class='post-preview'>
                            <h6 class='post-title'>{{ car.car_name }}</h6>
                            <a href="{% url 'car_detail' car.id %}">Read More</a>
                            | <a href="{% url 'update_car' car.id %}">Update</a>
                            | <a href="{% url 'delete_car' car.id %}">Delete</a>
                            <hr>
                                <span class='tag'>{{ car.car_color }}</span>
                                <span class='tag'>{{ car.date_manufactured }}</span>
                            <hr>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <h5>No Red Cars Available ...</h5>
            {% endfor %}
        </div>

        {% comment %} Visible is it has a stock of Cars {% endcomment %}
        {% if cars %}
            <form method='GET'>
                <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Car 1">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Car 2">
                </div>
                <input type="submit" class="btn btn-outline-danger">
                </div>
            </form>
        {% endif %}
        <small class="form-text text-muted" align='center'>Note type the "Car Name": Car 1 & Car 2, as the user submit their position will eventually swap.</small>
    </div>
{% endblock content %}