{% extends 'html/main.html' %}
{% load static %}

{% block content %}
    <div class='main-container'>
        <div class="greeting-wrapper">
            <h1>Sorted Red Cars List</h1>
        </div>
        <div class='post-wrapper'>
            {% for car in cars %}
                <div>
                    <div class='post'>
                        <div class='post-preview'>
                            <h6 class='post-title'>{{ car.car_name }}</h6>
                            <a href="{% url 'car_detail' car.id %}">Read More</a>
                            | <a href="{% url 'update_car' car.id %}">Update</a>
                            | <a href="{% url 'delete_car' car.id %}">Delete</a>
                            <hr>
                                <span class='red-tag'>{{ car.car_color }}</span>
                                <span class='tag'>{{ car.date_manufactured }}</span>
                            <hr>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <h5>No Red Cars Available ...</h5>
            {% endfor %}
        </div>
    </div>
{% endblock content %}